<div *ngIf="dataContent" class="content"  id="dayList">
    <div *ngFor="let item of dataList; let i = index" class ="list"
         (click)="selectDayClick(i)"
         >
        <mat-card >
            <mat-card-content #days>
                <p >{{item.dayOfWeek}}</p>
                <p>{{item.numberDay}}</p>
                <p>{{item.month}}</p>
                <p>{{item.year}}</p>
            </mat-card-content>
        </mat-card>
    </div>
</div>

<div *ngIf="!dataContent" class="no-data">
    <mat-card>
        <mat-card-header>
            <h1>No days with appointment</h1>
        </mat-card-header>
            <img mat-card-xl-image                             
                 src="https://material.angular.io/assets/img/examples/shiba2.jpg" 
                 alt="Photo of a Shiba Inu">
    </mat-card>

</div>