.days{
    width: calc(100% - 3rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.schedule{
    width: calc(100% - 3rem);
    overflow: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}



.content {
    width: 100%;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;
    overflow: auto;
    
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
}

main{
    margin: 8px 8px 8px 0px;
}

