<div *ngIf="selected && list.length>0" class="container">
    <div class="content" 
        *ngFor="let item of list, let i = index"
        (click) = selectItemEvent(i)>

        <mat-card [class.selected]="item.total  == 5">
            <mat-icon class="icon" fontIcon="schedule"></mat-icon>
            <div class="card-content">
                
                <em>{{item.dayString}}</em>
                <p>{{item.hourRange}}</p>
                <small>Aviable {{item.aviable}} of  {{item.total}}</small>
            </div>
        </mat-card>
    
    </div>
</div>

<div *ngIf="selected && list.length==0">
    <h1>No shifts available this day</h1>
</div>


<div *ngIf="!selected">
    <h1>Select a day for reserve your appointment</h1>
</div>